<a href="https://colab.research.google.com/github/jiseonY/py15/blob/master/notebook/ch3_exercises_py15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [1]:
# [Q1] Code  
a = "Life is too short, you need python"
if "wife" in a: print("wife")  #wife이 a문자열에 없으므로 거짓
elif "python" in a and "you" not in a: print("python")   #python이 a문자열에는 있지만 you역시 있으므로 거짓
elif "shirt" not in a: print("shirt")   #shirt a 문자열에 없으므로 참
elif "need" in a: print("need")   #need가 a 문자열에 있으므로 참
else: print("none")
#가장 먼저 참이 되는 건 3번째이므로 shirt

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [2]:
# [Q2] Code
num = 0
sum = 0
while num < 1000:
    num += 1
    if (num % 3) != 0: continue # 3의 배수는 3으로 나누어 떨어지는 수이기 때문
    sum = sum + num
print(sum)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [3]:
# [Q3] Code
i = 0
while True:
    i += 1  # while문 수행 시 1씩 증가한다.
    if i > 5: break  # i 값이 5이상이면 while문을 벗어난다.
    print ('*' * i)  # i 값 개수만큼 *를 출력한다. 따라서 5개까지 출력한다.

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [4]:
# [Q4] Code
 for i in range(1, 101):  #for와 range로 1부터 100까지 100번 반복하며 값을 출력한다.
    print(i)
# range에서 반복되는 마지막 숫자는 끝나는 숫자보다 1이 더 작으므로 101을 지정해야한다.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [5]:
# [Q5] Code
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for scores in A:
    total += scores  # 점수를 모두 더한다.

average = total / len(A)  # 평균을 구하기 위해 total을 총 학생수로 나눈다.
print(average)

79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [6]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]  # 자연수 중 2로 나누었을때 나머지가 1인 수는 홀수이기 때문에
print(result)

[2, 6, 10]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [7]:
# [Q7] Code-1
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    print(subject, score)

total = 0
for i in range(0,4):
  total += scores[i]
print("평균 점수 = ", total/4)
# 과목 당 점수, 평균 점수 둘 다 range() 사용

파이썬 91
영어 67
수학 88
물리 75
평균 점수 =  80.25

In [8]:
# [Q7] Code-2
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

for position, subject in enumerate(subjects):
    score = scores[position]
    print(subject, score)

i = 0
total = 0
while i<4:
  total += scores[i]
  average = total/len(subjects)
  i+= 1
print("평균 점수 = ",average)
# 과목당 점수 enumerate(), 평균 점수 while 사용

파이썬 91
영어 67
수학 88
물리 75
평균 점수 =  80.25

In [9]:
# [Q7] Code-3
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

average = 0
total = 0
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))
# 과목당 점수 zip(), 평균 점수 format 사용

파이썬 91
영어 67
수학 88
물리 75
평균 점수 = 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb