<a href="https://colab.research.google.com/github/jiseonY/py15/blob/master/notebook/ch5_exercises_py15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [0]:
# [Q1] Code
class Calculator:
    def __init__(self):
        self.value = 0
 
    def add(self, val):
        self.value += val
class UpgradeCalculator(Calculator):#Calculator를 상속받음
    def minus(self, val):
        self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력

cal1= UpgradeCalculator()
cal1.add(10)
cal1.add(10)
print(cal1.value) #동일한 클래스로 만든 객체들은 서로 영향을 주지

3
20

-> Calculator 클래스를 상속하여 minus를 추가

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [0]:
# [Q2] Code

class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

# 풀이
class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100
            print("100이상의 값은 가질 수 없음")

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력

100이상의 값은 가질 수 없음
100

-> 100이 넘어버리면 100으로 제한하게 한다.

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [0]:
# [Q3]-1 Code
all([1, 2, abs(-3)-3])

False

-> -3은 절댓값이 된다. 그러므로 3 all( [ 1, 2, 0 ] )이 된다.
근데 리스트의 요솟값 중 0이 있으므로 all은 False가 된다.

In [0]:
# [Q3]-2 Code
chr(ord('a')) == 'a'

True

-> ord('a')는 97이다. chr(97)은 a다. 그래서 같다.

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [0]:
# [Q4] Code
list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

-> 리스트를 필터로 0보다 큰것만 필터링 한다.

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [0]:
# [Q5] Code
int('0xea', 16)

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [0]:
# [Q6] Code
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

-> 입력값에 3을 곱하여 돌려준다.

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
# [Q7] Code
a = [-8, 2, 7, 5, -3, 5, 0, 1]
max(a) + min(a)

-1

-> 최댓값 7, 최솟값 -8을 더하면 -1이다.

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
# [Q8] Code
round(17/3, 4)

5.6667

-> round 함수를 사용해 17을 3으로 나눈 후 소수점 아래 4자리까지 출력한다.

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9] Code
!mkdir doit

-> doit 폴더 생성

In [40]:
%%writefile /content/doit/myargv.py

import sys

numbers = sys.argv[1:] # 파일 이름을 제외한 명령 행의 모든 입력

result = 0
for number in numbers:
    result += int(number)
print(result)

Writing /content/doit/myargv.py

-> sys모듈의 argv를 사용하여 명령 행 입력값 모두를 차례로 더해 준다.

In [51]:
run myargv.py 1 2 3 4 5 6 7 8 9 10

55

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [0]:
# [Q10] Code

import os
os.chdir("/content/doit")

-> os 모듈의 chdir을 사용하여 C:\doit 이라는 디렉터리로 이동한다.

In [0]:
result = os.popen("dir")

-> popen으로 dir 명령어 수행한다.

In [47]:
print(result.read())

myargv.py

-> popen의 결과를 출력한다.

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [48]:
# [Q11] Code
import glob
glob.glob("/content/doit/*.py")

['/content/doit/myargv.py']

-> glob 모듈을 사용한다.

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [0]:
# [Q12] Code
import time
time.strftime("%Y/%m/%d %H:%M:%S")

'2020/06/13 03:53:19'

->  %Y:년, %m:월, %d:일, %H:시, %M:분, %S:초

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [0]:
# [Q13] Code
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)   # 1부터 45까지의 난수 생성
    if num not in result:
        result.append(num)

print(result)

[37, 6, 35, 9, 26, 1]

-> random 모듈의 randint를 사용한다.

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb