<a href="https://colab.research.google.com/github/jiseonY/py15/blob/master/notebook/mid_exam_py15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 활용 중간고사 풀이

### 문제1. 
> 다음 식의 연산 결과는?
```
a = 5
b = 3
a**b

In [1]:
a = 5
b = 3
a**b  # a**b는 a의 b승이라는 뜻이므로 125

125

### 문제2. 
> 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
```
a = "Life is too short, You need Python!"
```

In [2]:
a = "Life is too short, You need Python!"
a[-16:-8]  
#a에 대해 슬라이싱 하는 것으로 -16:-8은 뒤에서 16번째부터 8번째까지를 의미한다.
#따라서 -16:-8는 You need가 된다.

'You need'

### 문제3. 
> 다음 list a의 인덱싱 결과는?
```
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]

In [3]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]
# a[3]은 ['a', 'b', ['My', 'Life', 'Good']]이고 
#a[3][-1]은 ['a', 'b', ['My', 'Life', 'Good']]의 ['My', 'Life', 'Good']이며, 
#a[3][-1][0]은 ['My', 'Life', 'Good']의 'My'이다.

'My'

### 문제4. 
> 다음 tuple t1의 슬라이싱 결과는?
```
t1 = (0, 1, "s", "t", "u")
t1[2:-2]

In [5]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2]
#t1[2:-2]은 s인데 튜플은 리스트와 다르게 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다.

('s',)

### 문제5. 
> 다음 bool 값 출력 중 정확한 것은?
```
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))
```

In [6]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))
# 튜플은 ()로 감싸기 때문에 bool([0, 1, 2]), bool([0])은 안에 값이 있다고 생각하고,
# 그리고 bool((0,))처럼 0뒤에 ,를 찍어야지 값이 있다고 생각해 True가 된다.
# bool((0)) 이것은 0뒤에 ,가 없기때문에 0으로 인식해 False가 된다.

(True, True, False, True)

### 문제6. 
> 다음 조건문을 1줄 코드로 변경하시오.

```
score=80
if score >= 60:
  message = "success"
else:
  message = "failure"
```

In [0]:
score=80
message = "success" if score >= 60 else "failure"
#이건 파이썬의 조건부 표현식을 사용해보면 
#message = "success" if score >= 60 else "failure"라는 결과가 나온다.
#조건부 표현식이란 '조건문이 참인 경우 if 조건문 else 조건문이 거짓인 경우"로 정의하기 때문이다.

### 문제7.
> 다음 코드의 실행 결과는?

```
games = ["a", "b", "c"] 
for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')
```

In [12]:
games = ["A", "B", "C"] 
for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')
# len은 0부터 시작하고 games는 A, B, C까지 있다.
# 따라서 0 A 1 B 2 C  이렇게 출력되며,
# 줄을 바꿀 때 end=','가 있기 때문에 , 뒤에 다음 결과값이 출력된다.

0 A,1 B,2 C,

### 문제8.
> 다음 결과가 출력되지 않는 것은?
```
'I ate 10 apples, so I was sick for three days.'
code start
number = 10
day = "three"
```

In [17]:
#code start
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(10, day)

'I ate 10 apples. so I was sick for three days.'

In [18]:
#code start
number = 10
day = "three"
f"I ate {number} apples. so I was sick for {day} days."

'I ate 10 apples. so I was sick for three days.'

In [19]:
#code start
number = 10
day = "three"
f"I ate {number} apples. so I was sick for {'three'} days."

'I ate 10 apples. so I was sick for three days.'

In [39]:
#code start
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number=10, day)
# SyntaxError: positional argument follows keyword argument
#2번째 줄에서 number = 10을 지정해#code start
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number=10, day)
# SyntaxError: positional argument follows keyword argument
#2번째 줄에서 number = 10을 지정해놓았기 때문에 format(number=10, day)이 아니라 format(number, day)라고 해야 오류가 안난다.

IndexError: ignored

### 문제9.
> 리스트 내포를 사용해 1부터 1000이하의 자연수 중의 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

```
5 + 10 + 15 + ..... + 955 + 960 + 965 + .... + 995 + 1000 = ?
```

In [29]:
sum([num for num in range(1,1001) if num % 5==0])
# 1부터 1000이하의 자연수이기 때문에 1001까지 범위를 정해놓고
# 5로 나누었을때 0으로 떨어지는 5의 배수만 다 더하는 것이기 때문에 sum을 사용한다.

100500

### 문제10.
> 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?
```
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0
for subject, score in ___(subjects, scores):
    total += score
    print(subject, score)
print("평균 점수 = {0}".format([b],______))
```

In [32]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0
for subject, score in zip(subjects, scores):  
    total += score
    print(subject, score)
print("평균 점수 = {0}".format(total/len(subjects)))
# zip은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수로
# zip(subjects, scores)는 subjects, scores의 요소를 매핑해 각각의 튜플로 합쳐주는 역할을 한다.
# 따라서 zip(subjects, scores)는 python 88, english 77, math 66, science 95로 만들어주는 역할을 한다.
# [b]는 평균을 구하기 위해서는 4과목의 합인 total이 있어야하고,
# len(subjects)은 리스트에 들어있는 원소 개수, 리스트의 크기를 알려주는 것이기 때문에 필요하다.
# 따라서 total/len(subjects)는 total점수 나누기 4와 같다.

python 88
english 77
math 66
science 95
평균 점수 = 81.5